<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'contains/base.html' %}
    {% block body_block %}
        <div class="jumbotron">
            <div class="container" >
                <h1>Signup to Enjoy Facilities</h1><hr>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg btn-success">Signup</button>
                </form>
            </div>
        </div>

    {% endblock %}
</body>
</html>


</body>
</html>