<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% extends 'contains/base.html' %}
    {% block body_block %}
        <div class="jumbotron" align="center" >
        <div class="container">
            <h1 class="display-4">Welcome to Exam portal Python </h1>
            <p>A new innovation in online examination</p>
            <p>Smooth registration, swift creation of</p>
            <p>tests and synchronized user- interface for you and your candidates.</p>



        </div>
        </div>
{% endblock %}
</body>
</html>